* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
header{
 width: 100%;
 height: 160px;
 background-color: plum;
 color: white;
}

footer {
 width: 100%;
 height: 50px;
 background-color: purple;
 color: white;
 font-size: 20px;
}

h1,
h2 {
 text-align: center;
 font-family: 'Courier New', Courier, monospace;
 
}

h1 {
    color: purple
}

h2 {
 color: royalblue
}

h3 {
 color: purple;
 padding-left: 30px;
}

img {
 display: block;
 height: 120px;
 width: 120px;
 margin-left: auto;
 margin-right: auto;
}

ul {
 padding-left: 40px;
 font-size: 15px;
}

pr {
text-align: left;
padding-left: 40px;
font-size: 15px;
}

p {
 text-align: center;
}

.card {
 width: 80%;
 margin: 40px auto;
 border-radius: 25px;
 border: 5px solid royalblue;
 box-shadow: 5px 10px blueviolet;
}